
/***********************************
Style Sheet for Green Podcast.
Wordpress uses this in style.css
***********************************/






/****RESET****/

*{
	margin: 0;
	padding: 0;
}


/****Fonts****/
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2ea985");
  
@font-face {font-family: 'Leitura';src: url('../fonts/2EA985_0_0.eot');
src: url('../fonts/2EA985_0_0.eot?#iefix') format('embedded-opentype'),
url('../fonts/2EA985_0_0.woff2') format('woff2'),url('../fonts2/EA985_0_0.woff') 
format('woff'),url('../fonts/2EA985_0_0.ttf') format('truetype');}


@import url("//hello.myfonts.net/count/31a020");

@font-face {font-family: 'Futura';src: url('../fonts/31A020_0_0.eot');
src: url('../fonts/31A020_0_0.eot?#iefix') format('embedded-opentype'),
url('../fonts/31A020_0_0.woff2') format('woff2'),url('../fonts2/EA985_0_0.woff') 
format('woff'),url('../fonts/31A020_0_0.ttf') format('truetype');}




/****Tag Styles****/

html{
	/*background-color: #78c608;
	color: #152400;*/
	font-size: 62.5%;
	
}

.leitura-loaded html{
	font-family: 'Leitura';
}



body{
	background-color: #78c608;
}


.leitura-loaded	body{
	font-family: 'Leitura';
}

/*.futura-loaded body{
	font-family: 'Futura';
}*/

img{
	border-radius: 100%;
	border: .4em solid white;
	display: block;
	margin: 1em auto;
	box-shadow: .5rem .25rem .2rem rgba(0, 0, 0, 0.1);
	max-width: 16rem;
}

a{
	color: black;
	text-decoration: none;
	border-bottom: 1px solid #78c608;
}

a:hover{
	color: #78c608;
}

p{
	display: inline;
	
	font-size: 1.4em;
	font-style: italic;
}

h1{
	font-family: 'Futura';
	color: white;
	font-size: 3.2em;
	
	text-transform: uppercase;
	font-weight: bolder;
	text-shadow: .05em .05em .05em grey;

}

h2{
	display: inline-block;
	font-family: "Futura","Open Sans Condensed", sans-serif;
	font-size: 1.9em;
	
	margin: 0 auto;
}

h3{
	font-family: 'Leitura',"Georgia", Times, Serif;
	font-size: 1.9em;
	padding-top: 1rem; 
}

h4{
	font-size: 2em;
	font-family: 'Leitura',"Georgia", Times, Serif;
}


h6{

	font-family: "Futura","Open Sans Condensed", sans-serif;
	font-size: 2em;
	font-weight: bolder;

}

dd{
	font-family: 'Leitura',"Georgia", Times, Serif;
	display: inline;
	
	font-size: 1.7em;
}

dt{
	font-family: 'Futura','Open Sans Condensed', sans-serif;
	display: inline;
	font-size: 1.6em;
	font-weight: bold;
	text-transform: uppercase;
	
}

dl{
	display: block;
	padding: 1rem 0rem;
}

dl:after{
	  content: ".";
    display: block;    
   	clear: both;
   	height: 0;
   	visibility: hidden;
}

footer{
	background-color: white;
	text-align: center;
	position: relative;
	top: 2rem;
	padding-bottom: 10rem;
}

/*blockquote {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}*/



/****Utilities****/
	
	/***Floats***/

.clearfix:after {
    content: ".";
    display: block;    
   	clear: both;
   	height: 0;
   	visibility: hidden;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.clear: {
	clear: both;
}


	/***Spacing***/

.padvertical{
	padding: 1rem 0;
}

.padhorizontal{
	padding: 0 .5rem;
}

.padtop{
	padding-top: 1rem;
}

.padbottom{
	padding-bottom: 1rem;
}

.padbottom5{
	padding-bottom: 5rem;
}
.margintop{
	margin-top: 2rem;
}


.center{
	margin: 0 auto;
}




	/***Text***/
.textcenter{
	text-align: center;
}

.underline{
	text-decoration: underline;
}





/****Containers****/
.main{
	
	margin: 0 auto;
	background-color: white;
	
}





/****Section Specific Classes****/
.excerpt {
	float: left;
	padding: 2rem 0rem;
	text-align: center;
}

.transcript{
	font-family: "Leitura" "Georgia", Times, Serif;
	max-width: 80%;
	margin: 0 auto;
	padding-top: 10rem;
	padding-bottom: 4rem;	
}

.header{
	/*max-width: 95%;*/
	margin: 0 auto;
	padding-bottom: 3em;
	/*background: linear-gradient( -45deg, #78c608, #F7F7F7);*/
	background-color: #78c608;
	
}

.header img{
	border-radius: 0;
	border: none;
	box-shadow: none;
	max-width: 85%
}

.summary{
	
	display: block;
	
	
}

.summarycontainer{
	display: block;
	max-width: 90%;
	/*border: 3px solid blue;*/
	margin: 0 auto;
	padding-top: 2rem;

}

.player{
	position: relative;
	top: 8rem;
	max-width: 80%;
	margin: 0 auto;
}

.guest_summary{
	text-align: center;
	max-width: 80%;
	margin: 0 auto;
	padding-bottom: 4em;
}

.guest_bio{
	text-align: center;
	max-width: 90%;
	margin: 0 auto;
	padding-bottom: 2rem;
	position: relative;
	bottom: 2rem;

	
}

.bio_container{
	background-color: #F7F7F7;
	position: relative;
	bottom: 1rem;
}

.avatar_bio{
	max-width: 40%;
	bottom: 2.5rem;
}

.next_container{
	display: block;
	width: 90%;
	margin: 0 auto;
}

.next{
	padding-bottom: 1rem;
	padding-top: 1rem;
	/*background-color: #78c608;*/
}

.next h2{
	font-size: 2em;
	display: block;
}

.next a{
	color: white;
	text-decoration: underline;
}

.next a:hover{
	color: grey;
}
.next_guest img{
	display: inline-block;
	width: 6rem;
	border: none;
}

.next_guest h6{

	padding-left:  1rem;
	padding-top: 3rem;
}

.next_guest{
	max-width: 90%;
	margin: 0 auto;
}

table{
	margin: 0 auto;
}

td h6{
	padding-bottom: 3rem;
}

.home_footer{
	background-color: #78c608;
}

.footer{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 4rem;
	padding-top: 2rem;
	
}

.footer a{
	color: grey;

}

.footer img{
	border-radius: 0%;
	box-shadow: none;
	border: none;
}

.copyright{
	color: grey;
	display: block;
	margin: 3rem;
}


.blockquote{
	width: 100%;
	position: relative;
	padding-bottom: 2rem;
}

a.tweet-link {
	color: black;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: .2;
	text-indent: -999999px;
	text-decoration: none;
}





blockquote p{
	font-family: 'Futura','Open Sans Condensed', sans-serif;
	font-size: 3rem;
	font-style: normal;
	text-transform: uppercase;
	text-decoration: none;
}


.blockquote p:after{
	content: url(/wp-content/themes/green/img/twitter2.png);
	padding-left: 1rem;
	
}

.blockquote p:before{
	content: '';
	display: inline-block;
	position: relative;
	bottom: 1rem;
	right: 2rem;

	width: 5.5rem;
	height: .7rem;
	background-color: #78c608;
}

.blockquote a{
	text-decoration: none;
	border: none;
}








@media screen and (min-width: 640px){


	.transcript{
		max-width: 61.25%;
	}
	.next_guest h6{
		font-size: 2.5em;
	}
	.next h2{
	font-size: 3em;
	display: block;
	}

	.next_guest img{
	display: inline-block;
	border: none;
	}
	

	dl{
		display: block;
		padding: 2rem;
	}

	dt{
		display: block;
		float: left;
		font-size: 1.8em;
		width: 15%;
		text-align: right;
		position: relative;
		right: 5.5rem;
	}

	dd{
		display: block;
		float: left;
		width: 85%;
		padding-bottom: 2rem;
	}
	.summary{
		max-width: 50%;
		float: left;
		margin: 0 auto;
		height: 50em;
	}
	.blockquote {
		width: 100%;
		float: right;
		left: 1.5rem;
	}

	blockquote{
		width: 85%;
		float: right;
	}
	blockquote p{
	font-family: 'Futura','Open Sans Condensed', sans-serif;
	font-size: 3.5rem;
	}	
	.next a{
		font-size: 4rem;
	}

}











@media screen and (min-width: 960px){


	.summary{
		max-width: 33.33%;
		float: left;
		margin: 0 auto;
		height: 50em;
		
	}

	h1{
		font-size: 8em;
	}

	footer p{
		display: inline-block;
		max-width: 45%;
		float: left;
		text-align: left;
	}

	.copyright {
		
		float: right;
		margin: 0 0;
	}

	.copyright p{
		display: block;
		max-width: 100%;
		position: relative;
		text-align: right;
	}

	.copyright img{
		position: relative;
		left: 25rem;
		margin: 0 0;

	}

	.width{
		width: 70%;
		margin: 0 auto;
	}

	.next a{
		font-size: 6rem;
	}

	.next h4{
		float: left;
		width: 50%;
		text-align: right;
		position: relative;
		top: 3.8rem;
		right: 2rem;
	}

	.next_guest{
		float: left;
		width: 50%;
	}

	table{
		margin: 0 0;
	}

	


}


















